name: Gemini AI Code Reviewer

on:
  pull_request:
    types: [opened]

permissions: write-all

jobs:
  gemini-code-review:
    runs-on: ubuntu-latest
    steps:
      - name: PR Info
        run: |
          echo "Pull Request: ${{ github.event.pull_request.title }}"
          echo "Description: ${{ github.event.pull_request.body }}"
          echo "Repository: ${{ github.repository }}"

      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get PR Details
        id: pr
        run: |
          PR_JSON=$(gh api repos/${{ github.repository }}/pulls/${{ github.event.issue.number }})
          echo "head_sha=$(echo $PR_JSON | jq -r .head.sha)" >> $GITHUB_OUTPUT
          echo "base_sha=$(echo $PR_JSON | jq -r .base.sha)" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: anc95/ChatGPT-CodeReview@main
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GEMINI_API_KEY: ${{ secrets.AI_API_KEY }}
          GEMINI_MODEL: gemini-2.5-flash # Optional, default is `gemini-2.5-flash`
          EXCLUDE: "*.md,*.txt,package-lock.json,*.yml,*.yaml"
          PROMPT: |
            Aja como um Engenheiro de Segurança Sênior (DevSecOps). 
            Analise o DIFF deste Pull Request buscando:
            1. Vulnerabilidades OWASP Top 10 (especialmente SQL Injection e Insecure Deserialization).
            2. Code Smells e complexidade ciclomática desnecessária.
            3. Aderência às melhores práticas de Java 25 e Spring Boot 3.4.
            4. Responda com comentários técnicos e construtivos diretamente nas linhas do código afetado.
